[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

[Mm]emoryCaptures/
[Rr]ecordings/

.vs/
.vscode/
.idea/

*.csproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

sysinfo.txt
.DS_Store
Thumbs.db
Desktop.ini

*.apk
*.aab
*.unitypackage

/[Aa]ssets/AssetStoreTools*
/[Aa]ssets/StreamingAssets/aa.meta
/[Aa]ssets/StreamingAssets/aa/*

.crashlytics/
.gradle/